include ./post.pug
mixin ban(ban, banpage)
	tr
		td
			if !banpage || (ban.appeal == null && ban.allowAppeal === true)
				input.post-check(type='checkbox', name='checkedbans' value=ban._id)
		td
			if ban.board
				a(href=`/${ban.board}/`) /#{ban.board}/
			else
				| グローバル
		td= ban.reason
		- const ip = permLevel > ipHashPermLevel ? ban.ip.single.slice(-10) : ban.ip.raw;
		td #{ip}
		td #{ban.type}
		td #{(!banpage || ban.showUser === true) ? ban.issuer : 'Hidden User'}
		- const banDate = new Date(ban.date);
		td: time.right.reltime(datetime=banDate.toISOString()) #{banDate.toLocaleString(undefined, {hourCycle:'h23'})}
		- const expireDate = new Date(ban.expireAt);
		td: time.right.reltime(datetime=expireDate.toISOString()) #{expireDate.toLocaleString(undefined, {hourCycle:'h23'})}
		td.banposts
			if ban.posts && ban.posts.length > 0
				| 表示するにはホバーします
				.thread
					each p in ban.posts
						+post(p, false, false, false, true)
			else
				投稿は表示されていません
		td
			if ban.seen
				| &#10003;
			else 
				| &#10799;
		td
			if ban.allowAppeal
				| &#10003;
			else 
				| &#10799;
		td
			if ban.appeal
				textarea(rows=1 disabled='true') #{ban.appeal}
			else if ban.allowAppeal
				| 申し立ては提出されていません
			else 
				| -
