extends ../layout.pug

block head
	title アカウント

block content
	.board-header
		h1.board-title ようこそ、#{user.username}
		h4.board-description アカウントの種類：#{authLevelNames[user.authLevel]}
	br
	hr(size=1)
	h4.no-m-p 全般的：
	ul
		if user.authLevel <= 1
			li
				a(href='/globalmanage/recent.html') グローバルマネジメント
				|  -  
				a(href=`/globalmanage/reports.html`) レポート
					if globalReportCount > 0
						b  (#{globalReportCount})
				| ,  
				a(href=`/globalmanage/bans.html`) 禁止
				| ,  
				a(href=`/globalmanage/recent.html`) 最近
				| ,  
				a(href=`/globalmanage/boards.html`) 板
				| ,  
				a(href=`/globalmanage/globallogs.html`) ログ
				if user.authLevel < 1
					| ,  
					a(href=`/globalmanage/accounts.html`) アカウント
					| ,  
					a(href=`/globalmanage/news.html`) ニュース
					| ,  
					a(href=`/globalmanage/settings.html`) 設定
		if enableUserBoardCreation || user.authLevel <= 1
			li: a(href='/create.html') 板を作成する
		if !enableUserAccountCreation && user.authLevel <= 1
			li: a(href='/register.html') アカウントを登録
		li: a(href='/changepassword.html') パスワードを変更する
	form(action='/forms/logout' method='post')
		input(type='submit' value='ログアウト')
	hr(size=1)
	h4.no-m-p あなたが所有する板：
	if user.ownedBoards && user.ownedBoards.length > 0
		ul
			for b in user.ownedBoards
				li
					a(href=`/${b}/index.html`) /#{b}/
					|  -  
					a(href=`/${b}/manage/index.html`) モデレーターインデックス
					| ,  
					a(href=`/${b}/manage/catalog.html`) モデレーターカタログ
					| ,  
					a(href=`/${b}/manage/recent.html`) 最近
					| ,  
					a(href=`/${b}/manage/reports.html`) レポート
						if boardReportCountMap[b]
							b  (#{boardReportCountMap[b]})
					| ,  
					a(href=`/${b}/manage/bans.html`) 禁止
					| ,  
					a(href=`/${b}/manage/logs.html`) ログ
					| ,  
					a(href=`/${b}/manage/settings.html`) 設定
					| ,  
					a(href=`/${b}/manage/assets.html`) 資産
					| ,  
					a(href=`/${b}/manage/custompages.html`) カスタムページ
	else
		p なし
	hr(size=1)
	h4.no-m-p モデレートする板：
	if user.modBoards && user.modBoards.length > 0
		ul
			for b in user.modBoards
				li
					a(href=`/${b}/index.html`) /#{b}/
					|  -  
					a(href=`/${b}/manage/index.html`) モデレーターインデックス
					| ,  
					a(href=`/${b}/manage/catalog.html`) モデレーターカタログ
					| ,  
					a(href=`/${b}/manage/recent.html`)  最近
					| ,  
					a(href=`/${b}/manage/reports.html`) レポート
						if boardReportCountMap[b]
							b  (#{boardReportCountMap[b]})
					| ,  
					a(href=`/${b}/manage/bans.html`) 禁止
					| ,  
					a(href=`/${b}/manage/logs.html`) ログ
	else
		p なし
	if user.modBoards.length > 0 ||  user.ownedBoards.length > 0
		hr(size=1)
		h4.no-m-p スタッフのポジションを辞任する：
		.form-wrapper.flexleft.mt-10
			form.form-post(action=`/forms/resign`, enctype='application/x-www-form-urlencoded', method='POST')
				input(type='hidden' name='_csrf' value=csrf)
				.row
					.label 板
					select(name='board' size='5')
						optgroup(label='自分のもの')
							each board in user.ownedBoards
								option(value=board) #{board}
						optgroup(label='あなたはモデレートします')
							each board in user.modBoards
								option(value=board) #{board}
				.row
					.label 私は確信しています
					label.postform-style.ph-5
						input(type='checkbox', name='confirm', value='true' required)
				input(type='submit', value='送信')

	hr(size=1)
	h4.no-m-p アカウントを削除します。
	.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/deleteaccount`, enctype='application/x-www-form-urlencoded', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			.row
				.label 私は確信しています
				label.postform-style.ph-5
					input(type='checkbox', name='confirm', value='true' required)
			input(type='submit', value='送信')
	
