extends ../layout.pug
include ../mixins/post.pug
include ../mixins/ban.pug
include ../mixins/boardheader.pug
include ../mixins/managenav.pug

block head
	title /#{board._id}/ - 管理

block content
	+boardheader('Settings')
	br
	+managenav('settings')
	hr(size=1)
	h4.no-m-p 所有権の譲渡：
	.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/board/${board._id}/transfer`, enctype='application/x-www-form-urlencoded', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			.row
				.label 新しい所有者のユーザー名
				input(type='text' name='username' placeholder=board.owner required)
			input(type='submit', value='送信')
	hr(size=1)
	h4.no-m-p 板を削除：
	.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/board/${board._id}/deleteboard`, enctype='application/x-www-form-urlencoded', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			.row
				.label 板URI
				input(type='text' name='uri' required)
			.row
				.label 私は確信しています
				label.postform-style.ph-5
					input(type='checkbox', name='confirm', value='true' required)
			input(type='submit', value='送信')
	hr(size=1)
	.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/board/${board._id}/settings` method='POST' enctype='application/x-www-form-urlencoded')
			input(type='hidden' name='_csrf' value=csrf)
			.row.wrap.sb
				.col.mr-5
					.row
						h4.mv-5 設定：
					.row
						.label 板名
						input(type='text' name='name' value=board.settings.name)
					.row
						.label 板の説明
						input(type='text' name='description' value=board.settings.description)
					.row
						.label タグ
						textarea(name='tags' placeholder='改行分離、最大10') #{board.tags.join('\n')}
					.row
						.label モデレーター
						textarea(name='moderators' placeholder='改行分離、最大10') #{board.settings.moderators.join('\n')}
					.row
						.label 発表
						textarea(name='announcement' placeholder='ポストスタイリングをサポート') #{board.settings.announcement.raw}
					.row
						.label テーマ
						select(name='theme')
							each theme in themes
								option(value=theme selected=board.settings.theme === theme) #{theme}
					.row
						.label コードテーマ
						select(name='code_theme')
							each theme in codeThemes
								option(value=theme selected=board.settings.codeTheme === theme) #{theme}
					if globalLimits.customCss.enabled
						.row
							.label カスタムCSS
							textarea(name='custom_css' placeholder='javascriptを有効にしている場合は、最初に右上の設定でテストします' maxlength=globalLimits.customCss.max) #{board.settings.customCss}
					.row
						.label ID
						label.postform-style.ph-5
							input(type='checkbox', name='ids', value='true' checked=board.settings.ids)
					.row
						.label ジオフラグ
						label.postform-style.ph-5
							input(type='checkbox', name='geo_flags', value='true' checked=board.settings.geoFlags)
					.row
						.label カスタムフラグ
						label.postform-style.ph-5
							input(type='checkbox', name='custom_flags', value='true' checked=board.settings.customFlags)
					.row
						.label 逆画像検索リンク
						label.postform-style.ph-5
							input(type='checkbox', name='reverse_image_search_links', value='true' checked=board.settings.reverseImageSearchLinks)
					.row
						.label 外部アーカイブリンク
						label.postform-style.ph-5
							input(type='checkbox', name='archive_links', value='true' checked=board.settings.archiveLinks)
					.row
						.label わいせつではない
						label.postform-style.ph-5
							input(type='checkbox', name='sfw', value='true' checked=board.settings.sfw)
					.row
						.label ローカルでリストから外す
						label.postform-style.ph-5
							input(type='checkbox', name='unlisted_local', value='true' checked=board.settings.unlistedLocal)
					.row
						.label ウェブリングからリストから外す
						label.postform-style.ph-5
							input(type='checkbox', name='unlisted_webring', value='true' checked=board.settings.unlistedWebring)
					.row
						h4.mv-5 ファイルオプション：
					.row
						.label 最大ファイル
						input(type='number' name='max_files' value=board.settings.maxFiles max=globalLimits.postFiles.max)
					.row
						.label ビデオファイルを許可する
						label.postform-style.ph-5
							input(type='checkbox', name='files_allow_video', value='true' checked=board.settings.allowedFileTypes.video)
					.row
						.label 画像ファイルを許可する
						label.postform-style.ph-5
							input(type='checkbox', name='files_allow_image', value='true' checked=board.settings.allowedFileTypes.image)
					.row
						.label アニメーション画像ファイルを許可する
						label.postform-style.ph-5
							input(type='checkbox', name='files_allow_animated_image', value='true' checked=board.settings.allowedFileTypes.animatedImage)
					.row
						.label オーディオファイルを許可する
						label.postform-style.ph-5
							input(type='checkbox', name='files_allow_audio', value='true' checked=board.settings.allowedFileTypes.audio)
					.row
						.label 他のファイルを許可する
						label.postform-style.ph-5
							input(type='checkbox', name='files_allow_other', value='true' checked=board.settings.allowedFileTypes.other)
					.row
						.label ユーザーファイルのネタバレ
						label.postform-style.ph-5
							input(type='checkbox', name='user_post_spoiler', value='true' checked=board.settings.userPostSpoiler)
					.row
						.label ユーザーファイルのリンク解除
						label.postform-style.ph-5
							input(type='checkbox', name='user_post_unlink', value='true' checked=board.settings.userPostUnlink)
				.col.mr-5
					.row
						h4.mv-5 Post Options:
					.row
						.label 匿名名
						input(type='text' name='default_name' value=board.settings.defaultName)
					.row
						.label ユーザー投稿の削除
						label.postform-style.ph-5
							input(type='checkbox', name='user_post_delete', value='true' checked=board.settings.userPostDelete)
					.row
						.label 匿名を強制
						label.postform-style.ph-5
							input(type='checkbox', name='force_anon', value='true' checked=board.settings.forceAnon)
					.row
						.label メールのみを下げる
						label.postform-style.ph-5
							input(type='checkbox', name='sage_only_email', value='true' checked=board.settings.sageOnlyEmail)
					.row
						.label スレッドの件名を強制する
						label.postform-style.ph-5
							input(type='checkbox', name='force_thread_subject', value='true' checked=board.settings.forceThreadSubject)
					.row
						.label スレッドメッセージを強制する
						label.postform-style.ph-5
							input(type='checkbox', name='force_thread_message', value='true' checked=board.settings.forceThreadMessage)
					.row
						.label スレッドファイルを強制する
						label.postform-style.ph-5
							input(type='checkbox', name='force_thread_file', value='true' checked=board.settings.forceThreadFile)
					.row
						.label 返信メッセージを強制する
						label.postform-style.ph-5
							input(type='checkbox', name='force_reply_message', value='true' checked=board.settings.forceReplyMessage)
					.row
						.label 返信ファイルを強制する
						label.postform-style.ph-5
							input(type='checkbox', name='force_reply_file', value='true' checked=board.settings.forceReplyFile)
					.row
						.label 返信の件名を無効にする
						label.postform-style.ph-5
							input(type='checkbox', name='disable_reply_subject', value='true' checked=board.settings.disableReplySubject)
					.row
						.label 最小スレッドメッセージ長
						input(type='number' name='min_thread_message_length' value=board.settings.minThreadMessageLength min=0 max=globalLimits.fieldLength.message)
					.row
						.label 最小返信メッセージの長さ
						input(type='number' name='min_reply_message_length' value=board.settings.minReplyMessageLength min=0 max=globalLimits.fieldLength.message)
					.row
						.label 最大スレッドメッセージ長
						input(type='number' name='max_thread_message_length' value=board.settings.maxThreadMessageLength min=0 max=globalLimits.fieldLength.message)
					.row
						.label 最大返信メッセージの長さ
						input(type='number' name='max_reply_message_length' value=board.settings.maxReplyMessageLength min=0 max=globalLimits.fieldLength.message)
					.row
						h4.mv-5 制限：
					.row
						.label スレッド制限
						input(type='number' name='thread_limit' value=board.settings.threadLimit min=globalLimits.threadLimit.min max=globalLimits.threadLimit.max)
					.row
						.label 返信制限
						input(type='number' name='reply_limit' value=board.settings.replyLimit min=globalLimits.replyLimit.min max=globalLimits.replyLimit.max)
					.row
						.label バンプ制限
						input(type='number' name='bump_limit' value=board.settings.bumpLimit min=globalLimits.bumpLimit.min max=globalLimits.bumpLimit.max)
					.row
						.label 一意のファイルを適用する
						select(name='file_r9k_mode')
							option(value='0', selected=board.settings.fileR9KMode === 0) オフ
							option(value='1', selected=board.settings.fileR9KMode === 1) スレッドごと
							option(value='2', selected=board.settings.fileR9KMode === 2) 板ワイド
					.row
						.label 固有のメッセージを適用する
						select(name='message_r9k_mode')
							option(value='0', selected=board.settings.messageR9KMode === 0) オフ
							option(value='1', selected=board.settings.messageR9KMode === 1) スレッドごと
							option(value='2', selected=board.settings.messageR9KMode === 2) 板ワイド
					.row
						.label ポスター返信数削除保護
						input(type='number' name='delete_protection_count' value=board.settings.deleteProtectionCount)
					.row
						.label OP ポスタースレッド年齢削除保護
						input(type='text' name='delete_protection_age' placeholder='例えば 1w' value=board.settings.deleteProtectionAge)
				.col.w900
					.row
						h4.mv-5 アンチスパム
							|  (
							a(href='/faq.html#antispam') より詳しい情報
							| ):
					.row
						.label ロックモード
						select(name='lock_mode')
							option(value='0', selected=board.settings.lockMode === 0) ロック解除
							option(value='1', selected=board.settings.lockMode === 1) ロックスレッドの作成
							option(value='2', selected=board.settings.lockMode === 2) ロック板
					.row
						.label CAPTCHAファッション
						select(name='captcha_mode')
							option(value='0', selected=board.settings.captchaMode === 0) CAPTCHAなし
							option(value='1', selected=board.settings.captchaMode === 1) 新しいスレッドのCAPTCHA
							option(value='2', selected=board.settings.captchaMode === 2) 新しいスレッドのCAPTCHA
					.row
						.label PPHトリガーしきい値
						input(type='number', name='pph_trigger', value=board.settings.pphTrigger)
					.row
						.label PPHトリガーアクション
						select(name='pph_trigger_action')
							option(value='0', selected=board.settings.pphTriggerAction === 0) 何もしない
							option(value='1', selected=board.settings.pphTriggerAction === 1) 新しいスレッドのキャプチャを有効にする
							option(value='2', selected=board.settings.pphTriggerAction === 2) すべての投稿でキャプチャを有効にする
							option(value='3', selected=board.settings.pphTriggerAction === 3) ロックスレッドの作成
							option(value='4', selected=board.settings.pphTriggerAction === 4) ロック板
					.row
						.label TPHトリガーしきい値
						input(type='number', name='tph_trigger', value=board.settings.tphTrigger)
					.row
						.label TPHトリガーアクション
						select(name='tph_trigger_action')
							option(value='0', selected=board.settings.tphTriggerAction === 0) 何もしない
							option(value='1', selected=board.settings.tphTriggerAction === 1) 新しいスレッドのキャプチャを有効にする
							option(value='2', selected=board.settings.tphTriggerAction === 2) すべての投稿でキャプチャを有効にする
							option(value='3', selected=board.settings.tphTriggerAction === 3) ロックスレッドの作成
							option(value='4', selected=board.settings.tphTriggerAction === 4) ロック板
					.row
						.label トリガーリセットロックモード
						select(name='lock_reset')
							option(value='0', selected=board.settings.lockReset === 0) 変化なし
							option(value='1', selected=board.settings.lockReset === 1) 板のロックを解除
							option(value='2', selected=board.settings.lockReset === 2) ロックスレッドの作成
					.row
						.label CAPTCHAモードのリセットをトリガーする
						select(name='captcha_reset')
							option(value='0', selected=board.settings.captchaReset === 0) 変化なし
							option(value='1', selected=board.settings.captchaReset === 1) CAPTCHAが無効になっています
							option(value='2', selected=board.settings.captchaReset === 2) 新しいスレッドのCAPTCHA
					.row
						.label 404年初頭
						label.postform-style.ph-5
							input(type='checkbox', name='early404', value='true' checked=board.settings.early404)
					.row
						.label アノニマイザーファイルの投稿を無効にする
						label.postform-style.ph-5
							input(type='checkbox', name='disable_anonymizer_file_posting', value='true' checked=board.settings.disableAnonymizerFilePosting)
					.row
						.label ブロックされた国
						include ../includes/2charisocountries.pug
					.row
						.label フィルタ
						textarea(name='filters' placeholder='改行が分離されました') #{board.settings.filters.join('\n')}
					.row
						.label 厳密なフィルタリング
						label.postform-style.ph-5
							input(type='checkbox', name='strict_filtering', value='true' checked=board.settings.strictFiltering)
					.row
						.label フィルタモード
						select(name='filter_mode')
							option(value='0', selected=board.settings.filterMode === 0) 何もしない
							option(value='1', selected=board.settings.filterMode === 1) ブロックポスト
							option(value='2', selected=board.settings.filterMode === 2) 禁止
					.row
						.label フィルタ自動禁止期間
						input(type='text' name='ban_duration' placeholder='例えば 1w' value=board.settings.filterBanDuration)

			input.row(type='submit', value='保存')
